<?xml version="1.0" encoding="UTF-8"?>
<Team>
	<Name>Time To Explode</Name>
	<IconPath>dekat.png</IconPath>
	<SoundPath>dekat.wav</SoundPath>
	<Description>Equipe de WarKamikaze très all-in</Description>
	<AgentsBrainControllers>
		<WarExplorer>WarExplorerBrainController.class</WarExplorer>
		<WarRocketLauncher>WarRocketLauncherBrainController.class</WarRocketLauncher>
		<WarBase>WarBaseBrainController.class</WarBase>
		<WarKamikaze>WarKamikazeBrainController.class</WarKamikaze>
		<WarEngineer>WarEngineerBrainController.class</WarEngineer>
		<WarTurret>WarTurretBrainController.class</WarTurret>
	</AgentsBrainControllers>
</Team>